<div class="container">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6 offset-3">
      <h1>welcome to <span><i class="fas fa-book"></i></span>Bookers !!</h1>
      <p>
        In <strong>Bookers,</strong><br>
        you can share and exchange your opinions , inpressons , and emotions<br>
        about various books!
      </p>
      <div class="row">
        <%= link_to "Log in", new_user_session_path, class:"col-10 offset-1 btn btn-info" %>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <%= link_to "Sign up", new_user_registration_path, class:"col-10 offset-1 btn btn-success", data: {"turbolinks" => false} %>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
